@import url('https://fonts.googleapis.com/css?family=Kulim+Park|Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    --primary-color: #212529;
    --secondary-color: #f58105;
    --background-color: #f7f7f5;
}

.primary-color{
    color: var(--primary-color);
}

.secondary-color{
    color: var(--secondary-color);
}

.background-color{
    color: var(--background-color);
}

.background-icon-color{
    background-color: var(--primary-color);
}